@import url("https://fonts.googleapis.com/css?family=Public+Sans:400,500,700|Ubuntu+Condensed|Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.12.0/css/all.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1, "onum" 1, "liga" 1;
  font-feature-settings: "kern" 1, "onum" 1, "liga" 1;
}

html {
  position: relative;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased !important;
}

body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  min-height: 100vh;
  color: #000000;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #000000;
  color: #FAF8ED;
}

footer p {
  padding: 0;
  margin: 0;
}

.bg-dark {
  background: #1C1D24;
}

.bg-light {
  background: #FAF8ED;
}

.text-light {
  color: #FAF8ED !important;
}

.text-primary {
  color: #7f00ff !important;
}

.text-secondary {
  color: #d3dde6 !important;
}

.text-medium-dark {
  color: #828282 !important;
}

.text-dark {
  color: #000000 !important;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

a:hover {
  text-decoration: underline;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

ul {
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.btn-primary, .btn-primary-outline,
.btn-secondary, .btn-secondary-outline {
  padding: 15px;
  display: inline-block;
  border-radius: 5px;
}

.btn-primary {
  background: #7f00ff;
  color: #d3dde6;
}

.btn-primary:hover {
  color: #ffffff;
  background: #1b1aff;
}

.btn-primary-outline {
  background-color: transparent;
  border: 3px solid #7f00ff;
  color: #7f00ff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-primary-outline:hover {
  color: #ffffff;
  background: #1b1aff;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 3px solid transparent;
}

.btn-secondary {
  background: #d3dde6;
  color: #000000;
}

.btn-secondary:hover {
  color: #ffffff;
  background: #1C1D24;
}

.secondary-primary-outline {
  background-color: transparent;
  border: 3px solid #d3dde6;
  color: #1C1D24;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.secondary-primary-outline:hover {
  color: #ffffff;
  background: #1b1aff;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 3px solid transparent;
}

.imagebg {
  min-height: 120px;
  background-image: url("");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.h100vh {
  min-height: 100vh;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ai-fe {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ai-bs {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.text-center {
  text-align: center;
}

header {
  background: -webkit-gradient(linear, left top, right top, from(#8e2de2), to(#4a00e0));
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  -webkit-box-shadow: 2px 6px 50px 5px #5f00ffa8;
          box-shadow: 2px 6px 50px 5px #5f00ffa8;
  min-height: 120px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

header nav ul li {
  padding: 15px;
  margin: 5px;
}

header nav ul li a {
  padding: 15px;
  margin: 5px;
  color: #d3dde6;
  text-transform: uppercase;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

header nav ul li a:hover {
  background-color: #ffffff;
  color: #1C1D24;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border-radius: 3px;
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 70vw;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.card {
  margin: 50px auto;
  border-radius: 10px;
  background: #ffffff;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 15px 35px #32325d1a, 0 5px 15px #00000012;
          box-shadow: 0 15px 35px #32325d1a, 0 5px 15px #00000012;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.card:hover {
  border-bottom: 5px solid #7f00ff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border-radius: 5px;
}

.card .card-image,
.card .card-content,
.card .card-share {
  margin: 5px;
  height: 300px;
}

.card .card-image {
  text-align: center;
}

.card .card-image img {
  max-width: 300px;
  height: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: auto;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
}

.card .card-content {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 65%;
}

.card .card-share {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 10%;
}

.card .card-title {
  padding-bottom: 10px;
  margin: 0;
  font-size: 2em;
  color: #DE1B85;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

.card .blog-content-preview {
  line-height: 2em;
  padding: 0;
  margin: 0;
  min-height: 120px;
}

.card .continue-link {
  margin: 0;
}

.card .read-more {
  margin-top: 15px;
}

.card .author-name {
  font-weight: 400;
}

.card .card-footer {
  color: #bebebe;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.card .card-footer:hover {
  color: #000000;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

#aboutUs p {
  font-size: 1.25em;
  line-height: 2em;
}

#contactUs {
  padding: 20px;
  margin: 25px auto auto auto;
}

#contactUs p {
  font-size: 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#contactUs p i {
  margin-right: 10px;
}

#contact-container {
  background-color: #1C1D24;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23585858' fill-opacity='0.35' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.social-links {
  padding-left: 40px;
}

.social-links li {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.social-links li i {
  margin-right: 10px;
}

.social-links li a:hover {
  color: #ffffff;
  text-decoration: none;
  line-height: 1em;
  border-bottom: 1px solid #ffffff;
}

.share-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
}

.share-links p {
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#logo-navbar:hover {
  background: transparent;
}

#logo-navbar img {
  width: 80px;
  height: auto;
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.lead {
  font-size: 2em;
}

.tt-upper {
  text-transform: uppercase;
}

.main-title,
.main-title-head,
.main-title-footer {
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bolder;
}

.main-title {
  background: linear-gradient(45deg, #396afc, #2948ff);
  background: #1b1aff;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.5em;
  font-family: "Ubuntu", sans-serif;
  background-size: 150%;
  position: relative;
}

.main-title::after {
  margin-top: 10px;
  content: '';
  display: block;
  width: 80px;
  height: 5px;
  background: #d3dde6;
  position: absolute;
}

.main-title-head {
  font-size: 5em;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#7f00ff), to(#e100ff));
  background: linear-gradient(to right, #7f00ff, #e100ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 150%;
}

.main-title-footer::after {
  margin-top: 20px;
  content: '';
  display: block;
  width: 80px;
  height: 5px;
  background: #d3dde6;
  position: absolute;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sub-title {
  margin: 10px 10px 30px 10px;
  font-weight: 400;
  text-align: center;
  font-size: 2em;
  color: #000000;
  font-family: "Ubuntu", sans-serif;
}

.link {
  word-break: break-word;
}

.fa-facebook:hover {
  color: #006AFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.fa-whatsapp:hover {
  color: #25D366;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.fa-twitter:hover {
  color: #1DA1F2;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.fa-instagram:hover {
  color: #C13584;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

@media all and (max-width: 786px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-title-head {
    font-size: 3em;
  }
  .main-title {
    text-align: center;
  }
  .sub-title {
    font-size: 1.5em;
  }
  .row {
    width: 100%;
    padding: 20px;
  }
  .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  .lead {
    font-size: 1.5em;
  }
  #aboutUs,
  #blog,
  #contactUs {
    margin-bottom: 100px;
  }
  #aboutUs p,
  #blog p,
  #contactUs p {
    font-size: 1em;
  }
  header nav {
    margin: 25px auto;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul li {
    padding: 5px;
  }
  .share-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card .continue-link {
    text-align: center;
  }
  .card .read-more {
    margin: 15px auto;
  }
  .card .card-image,
  .card .card-content,
  .card .card-share {
    margin: 5px auto;
    height: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
  }
  .card .published-date,
  .card .author-name {
    display: block;
  }
  .card .card-footer {
    text-align: center;
  }
  .footer {
    min-height: 120px;
  }
}
/*# sourceMappingURL=style.css.map */