@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i|Yesteryear&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.12.0/css/all.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  position: relative;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: #FAF8ED;
  min-height: 100vh;
  color: #2F2B32;
  font-family: "Space Mono", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Space Mono", monospace;
}

p {
  line-height: 1.6em;
}

header {
  background: #1C1D24;
  -webkit-box-shadow: 0px 6px 3px #94949494;
          box-shadow: 0px 6px 3px #94949494;
  min-height: 120px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

header nav ul li {
  padding: 15px;
  margin: 5px;
}

header nav ul li a {
  padding: 15px;
  margin: 5px;
  color: #d3dde6;
  text-transform: uppercase;
  -webkit-transition: 0.5 ease all;
  transition: 0.5 ease all;
}

header nav ul li a:hover {
  background-color: #d3dde6;
  color: #2F2B32;
  -webkit-transition: 0.5 ease all;
  transition: 0.5 ease all;
  border-radius: 3px;
  text-decoration: none;
}

.container {
  width: 95%;
  padding: 15px;
  margin: 0 auto;
}

.row {
  width: 70vw;
  margin: 10px auto;
  padding: 10px;
}

.card {
  border-radius: 5px;
  background: #d3dde6;
  width: 100%;
  height: auto;
}

#aboutUs {
  height: 100vh;
}

#aboutUs p {
  font-size: 1.25em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#logo-navbar {
  width: 50px;
  height: auto;
}

.text-center {
  text-align: center;
}

.tt-upper {
  text-transform: uppercase;
}

.main-title {
  color: #6766ff;
  font-size: 4em;
  font-family: "Yesteryear", cursive;
  letter-spacing: 1px;
  line-height: 1;
}

.sub-title {
  margin: 10px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 10px;
  font-size: 2em;
  color: #EA2336;
}

@media all and (max-width: 786px) {
  .row {
    width: 95vw;
    margin: 10px auto;
    padding: 10px;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul li {
    padding: 5px;
  }
}
/*# sourceMappingURL=style.css.map */