// fonts
// @import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900|Public+Sans:400,500,700|Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i|Yesteryear&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.12.0/css/all.css');
// font-family: 'Muli', sans-serif;
//font-family: 'Special Elite', cursive;
//font-family: 'Public Sans', sans-serif;
// font-family: 'Space Mono', monospace;


// variables
$body-bg: #FAF8ED; //white desert
$body-text-color: #2F2B32;
$header-bg: #1C1D24; //black stone;
$primary-color: #6766ff; // dark on hover : #1b1aff
$secondary-color: #d3dde6;
$christmas-red: #EA2336;
$white: #ffffff;

$primary-link-color: $primary-color;
$secondary-link-color: $secondary-color;

//fonts
// $font-title : 'Muli', sans-serif;
$font-title : 'Space Mono',
monospace;

// $font-body : 'Public Sans', sans-serif;
// $font-body : 'Special Elite', cursive;
$font-body : $font-title;
$font-cursive: 'Yesteryear',
cursive;


* {

    box-sizing: border-box;
}

html {
    position: relative;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background: $body-bg;
    min-height: 100vh;
    color: $body-text-color;
    font-family: $font-body;

}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.4s all;

    &:hover {
        text-decoration: underline;
        transition: 0.5s all;
    }
}

ul {
    padding: 0;
    list-style: none;
}


@function headings($from:1, $to:6) {
    @if $from==$to {
        @return 'h#{$from}';
    }

    @else {
        @return 'h#{$from},'+headings($from+1, $to);
    }
}

// for h1 to h6
#{headings(1,6)} {
    font-family: $font-title;
}


p {
    line-height: 1.6em;
}


header {
    background: $header-bg;
    box-shadow: 0px 6px 3px #94949494;
    min-height: 120px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 100%;

    nav {
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            padding: 0;
            margin: 0;

            li {
                padding: 15px;
                margin: 5px;

                a {
                    padding: 15px;
                    margin: 5px;
                    color: $secondary-link-color;
                    text-transform: uppercase;
                    transition: 0.5 ease all;

                    &:hover {
                        background-color: $secondary-color;
                        color: $body-text-color;
                        transition: 0.5 ease all;
                        border-radius: 3px;
                        text-decoration: none;

                    }

                }

            }
        }



    }

}

.container {
    width: 95%;
    padding: 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70vw;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.col {
    display: flex;
    align-items: center;
}

.card {
    border-radius: 5px;
    background: $white;
    width: 100%;
    height: auto;
    border: 1px solid $secondary-color;
    box-shadow: 0 1px 6px 0 #20212447;
    transition: 0.4s all;

    &:hover {
        border-bottom: 5px solid $christmas-red;
        transition: 0.2s all;
        border-radius: 5px;

    }

    .card-image,     .card-content, .card-share {
        margin: 5px;

    }

    .card-image {
        max-width: 300px;
        height:auto;
    }

    .card-content {
        padding: 10px;

    }
}


.card-image {}

#aboutUs,
#blog,
#contactUs {
    min-height: 100vh;


    p {
        font-size: 1.25em;
    }
}


.social-links {
    padding-left: 40px;

    li {
        margin: 10px;
    }
}

.share-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

// custom scroll bar:
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


#logo-navbar {
    &:hover {
        background: transparent;
    }

    img {
        width: 80px;
        height: auto;
        border-radius: 50%;
    }
}


.text-center {
    text-align: center;
}


.tt-upper {
    text-transform: uppercase;
}

.main-title {
    color: $primary-color;
    font-size: 4em;
    font-family: $font-cursive;
    letter-spacing: 1px;
    line-height: 1;

}

.sub-title {
    margin: 10px 10px 30px 10px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 10px;
    font-size: 2em;
    color: $christmas-red;
}

.link {
    word-break: break-word;
}

@media all and (max-width:786px) {
    .row {
        width: 100%;
        padding: 20px;
    }

    header {
        nav {
            ul {

                flex-direction: column;

                li {
                    padding: 5px;
                }
            }
        }
    }

    .sub-title {
        letter-spacing: 5px;
    }

    .col {
        display: flex;
        flex-direction: column;
    }

}