// fonts
// @import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900|Public+Sans:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Public+Sans:400,500,700|Ubuntu+Condensed&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.12.0/css/all.css');
// font-family: 'Muli', sans-serif;
//font-family: 'Special Elite', cursive;
//font-family: 'Public Sans', sans-serif;
// font-family: 'Space Mono', monospace;


// variables
$desert-white: #FAF8ED; //white desert
$body-text-color: #2F2B32;
$header-bg: #1C1D24; //black stone;
$primary-color: #6766ff; // dark on hover : #1b1aff
$secondary-color: #d3dde6;
$grey: #bebebe;
$dark-pink: #DE1B85;
$white: #ffffff;

$primary-link-color: $primary-color;
$secondary-link-color: $secondary-color;

//fonts
$font-muli : 'Muli',
sans-serif;
$font-ubuntu: 'Ubuntu Condensed',
sans-serif;
$font-title : 'Space Mono',
monospace;

// $font-body : 'Special Elite', cursive;
// $font-body : $font-title;
$font-body : 'Public Sans',
sans-serif;



* {

    box-sizing: border-box;
}

// fix for safari font issue
html, body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; 
    
}

html {
    position: relative;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
     background: $secondary-color;;
    min-height: 100vh;
    color: $body-text-color;
    font-family: $font-body;
    font-weight: 400;

}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.4s all;

    &:hover {
        text-decoration: underline;
        transition: 0.5s all;
    }
}

ul {
    padding: 0;
    list-style: none;
}


@function headings($from:1, $to:6) {
    @if $from==$to {
        @return 'h#{$from}';
    }

    @else {
        @return 'h#{$from},'+headings($from+1, $to);
    }
}

// for h1 to h6
#{headings(1,6)} {
    font-family: $font-ubuntu;
    font-weight: 700;


}


p {
    line-height: 1.6em;
}


header {
    background: $header-bg;
    box-shadow: 0px 6px 3px #94949494;
    min-height: 120px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 100%;

    nav {
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            padding: 0;
            margin: 0;

            li {
                padding: 15px;
                margin: 5px;

                a {
                    padding: 15px;
                    margin: 5px;
                    color: $secondary-link-color;
                    text-transform: uppercase;
                    transition: 0.5 ease all;

                    &:hover {
                        background-color: $secondary-color;
                        color: $header-bg;
                        transition: 0.5 ease all;
                        border-radius: 3px;
                        text-decoration: none;

                    }

                }

            }
        }



    }

}

.container {
    width: 95%;
    padding: 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70vw;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.col {
    display: flex;
     align-items: flex-start;
    width: 100%;
}

.card {
    margin: 50px auto;
    border-radius: 5px;
    background: $white;
    width: 100%;
    height: auto;
    border: 1px solid $secondary-color;
    box-shadow: 0 1px 6px 0 #20212447;
    transition: 0.4s all;

    &:hover {
        border-bottom: 5px solid $primary-color;
        transition: 0.2s all;
        border-radius: 5px;

    }

    .card-image,
    .card-content,
    .card-share {
        margin: 5px;
height: 300px;
    }

    .card-image {
        img {
        max-width: 300px;
        height: 300px;
        flex-grow: 1;
  width: auto;
  overflow: hidden;
}
    }

    .card-content {
        padding: 10px;
        flex-grow: 1;
  width: 65%;
    }
.card-share {
    flex-grow: 1;
  width: 10%;
}
    .card-title {
        padding-bottom: 10px;
        margin: 0;
        font-size: 2em;
        color: $dark-pink;
        font-weight: bold;
    }

    .blog-content-preview {
        line-height: 1.6em;
        padding: 0;
        margin: 0;
        min-height: 120px;
    }


    .read-more {
        margin-top: 15px;
        padding: 15px;
        display: inline-block;
        background: $primary-color;
        color: $secondary-color;

        border-radius: 5px;

        &:hover {
            color: $white;
        }
    }

    .card-footer {
        color: $grey;
        font-weight: 400;
        font-size: 1em;
        margin: 0;padding: 0;
    }

}




#aboutUs {
    // min-height: 100vh;


    p {
        font-size: 1.25em;
    }
}


.social-links {
    padding-left: 40px;

    li {
        margin: 10px;
    }
}

.share-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;

    p {
        text-align: center;
    }
}

// custom scroll bar:
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


#logo-navbar {
    &:hover {
        background: transparent;
    }

    img {
        width: 80px;
        height: auto;
        border-radius: 50%;
    }
}


.text-center {
    text-align: center;
}


.tt-upper {
    text-transform: uppercase;
}

.main-title,
.main-title-head {

    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;

}

.main-title {
    color: $header-bg;
    font-size: 2.5em;
    font-family: $font-ubuntu;
    font-weight: bold;
}

.main-title-head {
    color: $primary-color;
    font-size: 5em;
    font-family: $font-ubuntu;
    font-weight: bold;

}

.sub-title {
    margin: 10px 10px 30px 10px;
    font-weight: 400;
    text-align: center;
    // letter-spacing: 3px;
    font-size: 2em;
    color: $body-text-color;
    font-family: $font-body;
}

.link {
    word-break: break-word;
}


.fa-facebook {
    &:hover {
        color: #006AFF;
        transition: 0.5s all;

    }
}
.fa-whatsapp {
    &:hover {
        color: #25D366;
        transition: 0.5s all;
    }
}
.fa-twitter {
    &:hover {
        color: #1DA1F2;
        transition: 0.5s all;

    }
}
.fa-instagram  {
    &:hover {
        color: #C13584;
        transition: 0.5s all;

    }
}




//media queries

@media all and (max-width:786px) {
    .main-title-head {
        font-size: 3em;
    }

    .main-title {
        text-align: center;
    }

    .sub-title {
        font-size: 1.5em;
 
    }

    .row {
        width: 100%;
        padding: 20px;
    }
    .col {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    #aboutUs,
    #blog,
    #contactUs {

        p {
            font-size: 1em;
        }
    }

    header {
        nav {
            margin: 25px auto;

            ul {

                flex-direction: column;

                li {
                    padding: 5px;
                }
            }
        }
    }

 

   

    .share-links {
        flex-direction: row;
    }

    .card {
        .continue-link {
            text-align: center;
        }
        .read-more {
            margin: 15px auto;
        }

        .card-image,
        .card-content,
        .card-share {
            margin: 5px;
    height: auto;
    flex-grow: 1;
    width: 100%;
    
        }

 


         
    }
}