// fonts
// @import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900|Public+Sans:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Public+Sans:400,500,700|Ubuntu+Condensed|Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.12.0/css/all.css');
// font-family: 'Muli', sans-serif;
//font-family: 'Special Elite', cursive;
//font-family: 'Public Sans', sans-serif;
// font-family: 'Space Mono', monospace;


// variables
$color-desert-white: #FAF8ED; //white desert
$color-black: #000000;
$color-black-stone: #1C1D24; //black stone;
$primary-color: #7f00ff;
$primary-hover: #1b1aff; // dark on hover : #1b1aff
$secondary-color: #d3dde6;
$grey: #bebebe;
$color-dark-pink: #DE1B85;
$color-white: #ffffff;

$primary-link-color: $primary-color;
$secondary-link-color: $secondary-color;

//fonts
$font-muli : 'Muli',
sans-serif;
$font-ubuntu-c: 'Ubuntu Condensed',
sans-serif;
$font-ubuntu: 'Ubuntu',
sans-serif;
$font-title : 'Space Mono',
monospace;

// $font-body : 'Special Elite', cursive;
// $font-body : $font-title;
// $font-body : 'Public Sans',sans-serif;
$font-body : $font-ubuntu;



* {

    box-sizing: border-box;
}

// fix for safari font issue
html,
body {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'kern'1, 'onum'1, 'liga'1;
    font-feature-settings: 'kern'1, 'onum'1, 'liga'1;
}

html {
    position: relative;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased !important;
}

body {
    padding: 0;
    margin: 0;
    background: $color-white;
    min-height: 100vh;
    color: $color-black;
    font-family: $font-body;
    font-weight: 400;
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
// height: auto;
    background-color: $color-black;
    color: $color-desert-white;

    p {
        padding: 0;
        margin: 0;
    }
  }

.bg-dark {
    background: $color-black-stone;
 
}

.bg-light {
    background: $color-desert-white;
 
}

.text-light {
    color: $color-desert-white !important;
}

.text-primary {
    color: $primary-color !important;
}

.text-secondary {
    color: $secondary-color !important;
}
.text-medium-dark{
    color: #828282 !important;
    
}

.text-dark {
    color: $color-black !important;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.5s all;

    &:hover {
        text-decoration: underline;
        transition: 0.5s all;
    }
}

ul {
    padding: 0;
    list-style: none;
}


@function headings($from:1, $to:6) {
    @if $from==$to {
        @return 'h#{$from}';
    }

    @else {
        @return 'h#{$from},'+headings($from+1, $to);
    }
}

// for h1 to h6
#{headings(1,6)} {
    font-family: $font-ubuntu;
    font-weight: 700;


}





// buttons
.btn-primary,.btn-primary-outline,
.btn-secondary, .btn-secondary-outline {
    padding: 15px;
    display: inline-block;
    border-radius: 5px;
}

.btn-primary {
    background: $primary-color;
    color: $secondary-color;
    &:hover {
        color: $color-white;
        background: $primary-hover;
    }
}

.btn-primary-outline {
    background-color: transparent;
    border: 3px solid $primary-color;
    color: $primary-color;
    transition: all 0.5s;

    &:hover {
        color: $color-white;
        background: $primary-hover;
        
        text-decoration: none;
        transition: all 0.5s;
    border: 3px solid transparent;


    }
}

.btn-secondary {
    background: $secondary-color;
    color: $color-black;
    
    &:hover {
        color: $color-white;
        background: $color-black-stone;
 
    }
}

.secondary-primary-outline {
    background-color: transparent;
    border: 3px solid $secondary-color;
    color: $color-black-stone;
    transition: all 0.5s;

    &:hover {
        color: $color-white;
        background: $primary-hover;
        
        text-decoration: none;
        transition: all 0.5s;
    border: 3px solid transparent;


    }
}


// background image parallex
.imagebg{
min-height: 120px;
    background-image: url('');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;}

// flex 

.center {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
}
.h100vh {
min-height: 100vh;
}
.flex {
    display: flex;
    flex-direction: row;
}

.flex-item {
    flex: 1 1 auto;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.ai-c {
    align-items: center;
}

.ai-fe {
    align-items: flex-end;
}

.ai-bs {
    align-items: baseline;
}

.text-center {
    text-align: center;
}

header {
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // width: 100%;

    background: linear-gradient(to right, rgb(142, 45, 226), rgb(74, 0, 224));
    box-shadow:2px 6px 50px 5px #5f00ffa8;
    min-height: 120px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 100%;

    nav {
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            padding: 0;
            margin: 0;

            li {
                padding: 15px;
                margin: 5px;

                a {
                    padding: 15px;
                    margin: 5px;
                    color: $secondary-link-color;
                    text-transform: uppercase;
                    transition: 0.5s all;

                    &:hover {
                        background-color: $color-white;
                        color: $color-black-stone;
                        transition: 0.5s all;
                        border-radius: 3px;
                        text-decoration: none;

                    }

                }

            }
        }



    }

}

.container {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70vw;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.col {
    display: flex;
    align-items: flex-start;
    width: 100%;
    align-items: stretch;
}

.card {
    margin: 50px auto;
    border-radius: 10px;
    background: $color-white;
    width: 100%;
    height: auto;
    box-shadow: 0 15px 35px #32325d1a, 0 5px 15px #00000012; 
    transition: 0.4s all;

    &:hover {
        border-bottom: 5px solid $primary-color;
        transition: 0.2s all;
        border-radius: 5px;

    }

    .card-image,
    .card-content,
    .card-share {
        margin: 5px;
        height: 300px;
    }

    .card-image {
        text-align: center;
        

        img {
            max-width: 300px;
            height: 300px;
            flex-grow: 1;
            width: auto;
            overflow: hidden;
            text-align: center;
            border-radius: 5px;
        }
    }

    .card-content {
        padding: 10px;
        flex-grow: 1;
        width: 65%;
    }

    .card-share {
        flex-grow: 1;
        width: 10%;
    }

    .card-title {
        padding-bottom: 10px;
        margin: 0;
        font-size: 2em;
        color: $color-dark-pink;
        font-weight: bold;
        font-family: $font-ubuntu;
    }

    .blog-content-preview {
        line-height: 2em;
        padding: 0;
        margin: 0;
        min-height: 120px;
    }

    .continue-link {

        margin: 0;
    }

    .read-more {
        margin-top: 15px;
    }

    .author-name {
        font-weight: 400;

    }

    .card-footer {
        color: $grey;
        font-weight: 400;
        font-size: 1em;
        margin: 0;
        padding: 0;
        transition: 0.2s all;

        &:hover {
            color: $color-black;
            transition: 0.2s all;
        }
    }

}




#aboutUs {
    // min-height: 70vh;


    p {
        font-size: 1.25em;
        line-height: 2em;
    }
}

#contactUs{
    padding: 20px;
    margin: 25px auto auto auto; 
 p {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
        align-items: flex-start;
        flex: 1;
        i {
            margin-right: 10px;
        }
 }
}

#contact-container {
    background-color: #1C1D24;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23585858' fill-opacity='0.35' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.social-links {
    padding-left: 40px;

    li {
        margin: 10px;
        display: flex;
        align-items: center;
        flex: 1;
        i {
            margin-right: 10px;
        }

        a:hover {
            color: $color-white;
            text-decoration: none;
            line-height: 1em;
            border-bottom: 1px solid $color-white;
        }
    }
}

.share-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;

    p {
        text-align: center;
    }
}

// custom scroll bar:
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


#logo-navbar {
    &:hover {
        background: transparent;
    }

    img {
        width: 80px;
        height: auto;
        border-radius: 50%;
    }
}


.text-center {
    text-align: center;
}
.lead {
    font-size: 2em;
}

.tt-upper {
    text-transform: uppercase;
}

.main-title,
.main-title-head, 
.main-title-footer {

    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bolder;

}

.main-title {
    background: linear-gradient(45deg, #396afc, #2948ff);
    background: $primary-hover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2.5em;
    font-family: $font-ubuntu;
    background-size: 150%;
    position: relative;

    &::after {
        margin-top: 10px;
        content: '';
        display: block;
        width: 80px;
        height: 5px;
        background:$secondary-color;
        position: absolute;
        // left: 37%;
    }
}

.main-title-head {
    font-size: 5em;
    font-family: $font-ubuntu;
    text-align: center;
    background: linear-gradient(to right, rgb(127, 0, 255), rgb(225, 0, 255));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
background-size: 150%;

}

.main-title-footer{
    &::after {
        margin-top: 20px;
        content: '';
        display: block;
        width: 80px;
        height: 5px;
        background: #d3dde6;
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }
}

.sub-title {
    margin: 10px 10px 30px 10px;
    font-weight: 400;
    text-align: center;
    // letter-spacing: 3px;
    font-size: 2em;
    color: $color-black;
    font-family: $font-body;
}

.link {
    word-break: break-word;
}


.fa-facebook {
    &:hover {
        color: #006AFF;
        transition: 0.5s all;

    }
}

.fa-whatsapp {
    &:hover {
        color: #25D366;
        transition: 0.5s all;
    }
}

.fa-twitter {
    &:hover {
        color: #1DA1F2;
        transition: 0.5s all;

    }
}

.fa-instagram {
    &:hover {
        color: #C13584;
        transition: 0.5s all;

    }
}

 



//media queries

@media all and (max-width:786px) {

    .flex {
        flex-direction: column;
    }

    .main-title-head {
        font-size: 3em;
    }

    .main-title {
        text-align: center;
    }

    .sub-title {
        font-size: 1.5em;

    }

    .row {
        width: 100%;
        padding: 20px;
    }

    .col {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .lead {
        font-size: 1.5em;
    }

    #aboutUs,
    #blog,
    #contactUs {

        margin-bottom: 100px;
        p {
            font-size: 1em;
        }
    }

    header {
        nav {
            margin: 25px auto;

            ul {

                flex-direction: column;

                li {
                    padding: 5px;
                }
            }
        }
    }





    .share-links {
        flex-direction: row;
    }

    .card {
        .continue-link {
            text-align: center;

        }

        .read-more {
            margin: 15px auto;
        }

        .card-image,
        .card-content,
        .card-share {
            margin: 5px auto;
            height: auto;
            flex-grow: 1;
            width: 100%;

        }

        .published-date,
        .author-name {
            display: block;
        }

        .card-footer {
            text-align: center;
        }

    }

    .footer {
        min-height: 120px;
    }
}